header {
    margin-bottom: 100px;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 50px;
    font-weight: 700;
    transition: letter-spacing .3s;
}

header h1:hover{
    letter-spacing: 4px;
}

@media screen and (max-width: 646px){
    header{
        margin-bottom: 50px;
    }
    
    header h1{
        font-size: 35px;
    }
}